# This notebook is created for dummy implementation of the Transportation project
## Author: Aditya Dhinavahi and Bas Kool

In [ ]:
#Location alert
trip="trip1"
alert=False
while !alert:
    try:
        df = pd.read_excel("Location_template.csv")
        if(df.loc[(df["Trip"]==trip)&(df["Status"].str.lower()=="alert")].shape[0]>0):
            print("Alert! Your destination is near by...")
            alert = True
    except Exception:
        pass

In [6]:
#Change status
import pandas as pd
trip = "trip1"
status="Alert"
location="Amsterdam Schipol"
df = pd.read_csv("Location_template.csv")
df.loc[df["Trip"]==trip,"Status"] = status
df.loc[df["Trip"]==trip,"Location"]=location
df.to_csv("Location_template.csv",index=False)

In [3]:
df

,Trip,Location,Status,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,trip1,Utrecht,In Transit,NaN,NaN,NaN,NaN
1,trip2,Arnhem,In Transit,NaN,NaN,NaN,NaN
2,trip3,Eindhoven,Starting Soon,NaN,NaN,NaN,NaN
3,trip4,Amersfoort,In Transit,NaN,NaN,NaN,NaN

In [12]:
#Feedback
from datetime import date
trip="trip1"
d = date.today()
t="Vehicle"
feedback="Good trip"
#Read the feedback file
df = pd.read_csv("Feedback_template.csv").iloc[:,:4]
df.loc[-1] = [trip,d,feedback,t]
df.to_csv("Feedback_template.csv",index=False)

In [13]:
df

     trip        Date        Feedback     Type
 0  trip1     17/3/22  Staff too rude    Staff
 1  trip1     17/3/22   Trip was good  Vehicle
-1  trip1  2023-03-17       Good trip  Vehicle

> Need to work on how to connect the user and the feedback? Do we keep it anonymous? If yes, then the privacy is protected else, you know whom to offer service exactly

In [19]:
from datetime import datetime

In [33]:
datetime.strftime(datetime.today(),format="dd/mm/yyyy")

'dd/mm/yyyy'

In [67]:
datetime.today().strftime("%d/%-m/%y")

'17/3/23'

In [82]:
#Query for calculating trip
#Scenario 1: All trips
df = pd.read_csv("Trip_template.csv")
#Query: Enschede to Amsterdam on 19/3/22
search = df.loc[((df["From"]=="Enschede")|(df["To"]=="Amsterdam")|(df["Departure"]<df["Arrival"]))&(df["Date"]=="19/3/22")]

In [83]:
search

,From,To,Mode,Date,Departure,Arrival,Total Time,Wheelchair Accessible,Amenities,Crowd expectation,Cost,URL,id
2,Enschede,Amsterdam,Train,19/3/22,8:00,10:05,2.08,Y,"WiFi, Bathroom",0.8,27,https://ns.nl,trip1
10,Enschede,Eindhoven,Train,19/3/22,7:30,9:00,1.50,N,WiFi,0.6,15,https://ns.nl,trip2
14,Eindhoven,Amsterdam,Bus,19/3/22,10:00,11:30,1.50,Y,Bathroom,0.3,14,https://ns.nl,trip3

In [85]:
#Filter accessibility
search.loc[((df["Wheelchair Accessible"]=="Y"))]

,From,To,Mode,Date,Departure,Arrival,Total Time,Wheelchair Accessible,Amenities,Crowd expectation,Cost,URL,id
2,Enschede,Amsterdam,Train,19/3/22,8:00,10:05,2.08,Y,"WiFi, Bathroom",0.8,27,https://ns.nl,trip1
14,Eindhoven,Amsterdam,Bus,19/3/22,10:00,11:30,1.50,Y,Bathroom,0.3,14,https://ns.nl,trip3

In [86]:
#Sort query by time
search.sort_values(by="Total Time")

,From,To,Mode,Date,Departure,Arrival,Total Time,Wheelchair Accessible,Amenities,Crowd expectation,Cost,URL,id
10,Enschede,Eindhoven,Train,19/3/22,7:30,9:00,1.50,N,WiFi,0.6,15,https://ns.nl,trip2
14,Eindhoven,Amsterdam,Bus,19/3/22,10:00,11:30,1.50,Y,Bathroom,0.3,14,https://ns.nl,trip3
2,Enschede,Amsterdam,Train,19/3/22,8:00,10:05,2.08,Y,"WiFi, Bathroom",0.8,27,https://ns.nl,trip1

In [87]:
#ToDo: Add feature to combine stop trips into a possible trip, this is essential to determine which is faster